CMS Data/CMS Codes/ICD10/ARM_CMS_ICD10_Codes.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "DATA_FACTORY_NAME"
        },
        "YOURDATALAKE_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'YOURDATALAKE'"
        },
        "YOURDATALAKE_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://YOURDATALAKE.dfs.core.windows.net"
        },
        "ICD10_2021_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://www.cms.gov/files/zip/2021-code-tables-tabular-and-index-updated-12162020.zip"
        },
        "CMS_Web_ICDPCS_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://www.cms.gov/files/zip/2021-icd-10-pcs-order-file-long-and-abbreviated-titles-updated-december-1-2020.zip"
        },
        "CMS_Web_ICDCM_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://www.cms.gov/files/zip/2021-code-descriptions-tabular-order-updated-12162020.zip"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/YOURDATALAKE')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('YOURDATALAKE_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('YOURDATALAKE_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ICD10_2021')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('ICD10_2021_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_Web_ICDPCS')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('CMS_Web_ICDPCS_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_Web_ICDCM')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('CMS_Web_ICDCM_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ICD10 CM')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy ICD10 CM",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "GET"
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings",
                                    "compressionProperties": {
                                        "type": "ZipDeflateReadSettings"
                                    }
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings",
                                    "maxConcurrentConnections": 10,
                                    "copyBehavior": "PreserveHierarchy"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "CMS_ICD10_CM_Web_Source",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CMS_ICD10_CM_2021_Unzipped",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Write ICD10 CM",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Copy ICD10 CM",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*icd10cm_order_2021.txt",
                                    "deleteFilesAfterCompletion": false
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings",
                                    "fileName": "icd10cm_order_2021.txt",
                                    "copyBehavior": "FlattenHierarchy"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "CMS_ICD10_CM_2021_Unzipped",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CMS_ICD10_CM_2021",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2021-03-21T21:39:08Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/CMS_ICD10_CM_Web_Source')]",
                "[concat(variables('factoryId'), '/datasets/CMS_ICD10_CM_2021_Unzipped')]",
                "[concat(variables('factoryId'), '/datasets/CMS_ICD10_CM_2021')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ICD10 PCS')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy ICD10 PCS",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "GET"
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings",
                                    "compressionProperties": {
                                        "type": "ZipDeflateReadSettings"
                                    }
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings",
                                    "maxConcurrentConnections": 10,
                                    "copyBehavior": "PreserveHierarchy"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "CMS_ICD10_PCS_Web_Source",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CMS_ICD10_PCS_2021_Unzipped",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Write ICD10 PCS",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Copy ICD10 PCS",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*icd10pcs_order_2021.txt",
                                    "deleteFilesAfterCompletion": false
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings",
                                    "fileName": "ICD10_PCS_2021.txt",
                                    "copyBehavior": "FlattenHierarchy"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "CMS_ICD10_PCS_2021_Unzipped",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "CMS_ICD10_PCS_2021",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2021-03-21T21:39:07Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/CMS_ICD10_PCS_Web_Source')]",
                "[concat(variables('factoryId'), '/datasets/CMS_ICD10_PCS_2021_Unzipped')]",
                "[concat(variables('factoryId'), '/datasets/CMS_ICD10_PCS_2021')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_ICD10_PCS_2021')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "YOURDATALAKE",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "ICD10_PCS_2021",
                        "fileSystem": "powerpophealth"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/YOURDATALAKE')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_ICD10_PCS_2021_Unzipped')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "YOURDATALAKE",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "ICD10_PCS_2021_Unzipped",
                        "fileSystem": "powerpophealth"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/YOURDATALAKE')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_ICD10_CM_2021_Unzipped')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "YOURDATALAKE",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "ICD10_CM_2021_Unzipped",
                        "fileSystem": "powerpophealth"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/YOURDATALAKE')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_ICD10_CM_2021')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "YOURDATALAKE",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "ICD10_CM_2021",
                        "fileSystem": "powerpophealth"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/YOURDATALAKE')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_ICD10_PCS_Web_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "CMS_Web_ICDPCS",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation"
                    },
                    "compression": {
                        "type": "ZipDeflate",
                        "level": "Fastest"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/CMS_Web_ICDPCS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/CMS_ICD10_CM_Web_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "CMS_Web_ICDCM",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation"
                    },
                    "compression": {
                        "type": "ZipDeflate",
                        "level": "Fastest"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/CMS_Web_ICDCM')]"
            ]
        }
    ]
}
